/* GENERAL SETTING */
*{
    font-family: 'JetBrains Mono', monospace;
    color:#5D5B5B;

}

body{
    background-attachment: fixed;
    background: linear-gradient(135deg, rgba(255,119,119,1) 0%, rgba(255,176,120,0.74) 35%, rgba(255,215,73,1) 100%);
}


.dark{
    background: linear-gradient(135deg, rgb(51 2 100) 0%, rgb(19 8 56 / 91%) 35%, rgb(14 16 96) 100%);
}

.darkArea{
    background: #000;
    box-shadow: -4px 6px 7px 0px rgb(30 14 78) inset;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    border: none;
    background: none;
    transition: 0.2s;
    cursor: pointer;
}

.darkbtn{
    color: rgb(124 119 255);
    text-shadow: .5px .5px 2px  #5D5B5B;

} 

.btn:hover{
    color: rgba(255,119,119);
    text-shadow: .5px .5px 2px  #5D5B5B;
}

.btn:active{
    text-shadow:none;
}

.container{
    width: 40%;
}

/* DARK MODE */
.dark-mode{
    display: flex;
    justify-content: end;
    font-weight: 300;
    margin-top: 1.5rem;
}



/* TITLE */
.container h3{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 40px;
    font-weight: 500;
    color:#5D5B5B;
}

/* SEARCH BAR */
form{
    display: flex;
    border-radius: 20px;
    background: #D9D9D980;
    box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.25) inset;
    margin-top: 2rem;
    height: 48px;
}

.searchbar{
    width: 100%;
    margin-top: 0.3rem;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 20px;
    border: none;
    font-size: 18px;
    flex-grow:2;
    background: none;
}

.searchbar:focus-visible, .add-task:focus-visible{
    outline: none;
}

.add-task{
    margin-right: .5rem;
    margin-top: -.3rem;
    font-size: 45px;
}

/* TASKS */
.task-container{
    margin-top: 2rem;
    padding: 1.5rem;
    height: 22rem;
    border-radius: 20px;
    background: #D9D9D980;
    box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.25) inset;
    display: flex;
    flex-direction: column;
}

.task-line{
    color:#5D5B5B;
    font-size: 18px;
}

.task-checkbox[type=checkbox]:checked +label{
    text-decoration: line-through; 
  }

.delete-btn{
    color: rgb(253, 36, 36);
    display: inline;
    font-size: 12px;
    position: relative;
    margin: 0;
    margin-top: .4rem;
    float: right;
}

.modify-btn{
    color: rgb(5 168 25);
    display: inline;
    font-size: 12px;
    position: relative;
    margin-bottom: 0;
    margin-top: .4rem;
    margin-right: 15px;
    float: right;
}

/* CLEAR ALL */
.clear-all {
    margin: 1rem;
    font-size: 20px;
}