/* GENERAL SETTING */
*{
    font-family: 'JetBrains Mono', monospace;
}

body{
    background: linear-gradient(135deg, rgba(255,119,119,1) 0%, rgba(255,176,120,0.74) 35%, rgba(255,215,73,1) 100%);
    background-attachment: fixed;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    border: none;
    background: none;
    color:#5D5B5B;
    transition: 0.2s;
}

.btn:hover{
    color: rgba(255,119,119);
    text-shadow: .5px .5px 2px  #5D5B5B;
}

.btn:active{
    text-shadow:none;
}

.container{
    width: 50%;
}

/* DARK MODE */

/* TITLE */
.container h3{
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 40px;
    font-weight: 500;
    color:#5D5B5B;
}

/* SEARCH BAR */
form{
    display: flex;
    border-radius: 20px;
    background: #D9D9D980;
    box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.25) inset;
    margin-top: 2rem;
    height: 48px;
}

.searchbar{
    width: 100%;
    margin-top: 0.3rem;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 20px;
    border: none;
    font-size: 18px;
    flex-grow:2;
    background: none;
}

.searchbar:focus-visible{
    outline: none;
}

.add-task{
    margin-right: .5rem;
    margin-top: -.3rem;
    font-size: 45px;
}

/* TASKS */
.task-container{
    margin-top: 2rem;
    padding: 1.5rem;
    height: 22rem;
    border-radius: 20px;
    background: #D9D9D980;
    box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.25) inset;
    display: flex;
    flex-direction: column;
}

.task-line{
    color:#5D5B5B;
    font-size: 18px;
}

/* CLEAR ALL */
.clear-all {
    margin: 1rem;
    font-size: 20px;
}